node_modules

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.env
.env.dev*
.env.prod*
.env.test
.env*.local

.DS_*
TODO.md

.vscode

iremono_media

dist

tsconfig.tsbuildinfo